extends admin


block pagecontent

	h2 Comments (#{lang})

	.list
		ul
			- each comment in comments
				li(id="com" + comment.ID)
					div
						strong #{comment.name}
						|  (#{comment.date})
						- if (comment.email != "")
							|  - 
							a(href="mailto:" + comment.email) #{comment.email}
						|  - 
						a(href="/post/" + comment.postID) (post)
						- if (comment.from && comment.from == "facebook")
							|  <b>- from Facebook</b>
					div
						|  #{comment.content}
					div
						a(href="#" onclick="deleteComment(" + comment.ID + ");return false;" style="color:#c33e1b") Delete
						- if (comment.valid == 0 || !comment.valid)
							|  - 
							a(href="#" onclick="acceptComment(" + comment.ID + ");return false;" style="color:#8ab946") Accept


#myNicPanel