extends admin

block pagecontent

	h2 Edit post

	input(id="pageID" type="text" style="display:none" value="#{page.ID}")
	
	
	div.edit_post_zone.backgroundLevel_10
		input.title_field(id="pageName" type="text" value="#{page.name}")
		
	div.edit_post_zone.backgroundLevel_8
		input.title_field(id="pageTitle" type="text" value="#{page.title}")
		
		

	#content_blocks
		- var block_number = 0	

		each block in page.blocks
			- var block_name = "block" + block_number
			if (block.type == "text")
				div(id="#{block_name}" style="margin-bottom: 10px;background-color: #F7F7F7;border-radius: 5px;outline: none;").block_text.sortable
					| !{block.text}

			else if (block.type == "html")
				div(id="#{block_name}" style="margin-bottom: 10px;border-radius: 5px;outline: none;").block_html.sortable
					textarea
						| !{block.data}

			else if (block.type == "file")
				div(id="#{block_name}" style="margin-bottom: 10px;border-radius: 5px;outline: none;").block_file.sortable
					| !{block.url}

			else if (block.type == "image")
				div(id="#{block_name}").edit_post_zone.backgroundLevel_8.block_image.sortable
					img(src=block.path)
					
					if (block.url && block.url != "")
						input#imageurl(
							type="text"
							name="imageurl"
							style="float:left;width:500px;margin:0;margin-top:10px;height:20px;"
							value="#{block.url}"
							onfocus="if(this.value == 'URL') { this.value = ''; }"
							onblur="if(this.value == '') { this.value = 'URL'; }"
							)
					else
						input#imageurl(
							type="text"
							name="imageurl"
							style="float:left;width:500px;margin:0;margin-top:10px;height:20px;"
							value="URL"
							onfocus="if(this.value == 'URL') { this.value = ''; }"
							onblur="if(this.value == '') { this.value = 'URL'; }"
							)




					if (block.description && block.description != "")
						input#imagedescription(
							type="text"
							name="imagedescription"
							style="float:left;width:500px;margin:0;margin-top:10px;height:20px;"
							value="#{block.description}"
							onfocus="if(this.value == 'Description') { this.value = ''; }"
							onblur="if(this.value == '') { this.value = 'Description'; }"
							)
					else
						input#imagedescription(
							type="text" 
							name="imagedescription" 
							style="float:left;width:500px;margin:0;margin-top:10px;height:20px;"
							value="Description"
							onfocus="if(this.value == 'Description') { this.value = ''; }"
							onblur="if(this.value == '') { this.value = 'Description'; }"
							)



					div(style="margin:0;padding:0;clear:both;")

					
						
			else if (block.type == "contact")
				div(id="#{block_contact}" style="background-color:#F7F7F7;").edit_post_zone.block_contact.sortable
					div 
						p(style="float:left;margin-right:10px;") To:
						input#emailTo(type="text" style="float:left;width:500px;margin:0;height:20px;" value="#{block.to}")
						div(style="clear:both;")
					div 
						p(style="float:left;margin-right:10px;") Title:
						input#emailTitle(type="text" style="float:left;width:500px;margin:0;height:20px;" value="#{block.title}")
						div(style="clear:both;")
						
			- block_number++


	div(id="trash" class="trash")
		| Trash

	div.edit_post_zone.backgroundLevel_1
		.navigation
			ul
				li
					a(href="#" onclick="addTextBlock(this);return false;") Text
				li
					a(href="#" onclick="addImageBlock(this);return false;") Image
				li
					a(href="#" onclick="addContactForm(this);return false;") Contact form
				li
					a(href="#" onclick="addFileBlock(this);return false;") File
				li
					a(href="#" onclick="addHtmlBlock(this);return false;") Html
		.clearboth

	div.edit_post_zone.backgroundLevel_1
		
		.navigation
			ul
				li
					a(href="#" onclick="reorder(this);return false;") reorder/delete blocks
				li
					a(href="#" onclick="editPage(this);return false;") Edit page
					
		.clearboth

	form(name="upload_image_form" id="upload_image_form" action="" method="POST" enctype="multipart/form-data" style="display:none")
			input(id="upload_image_input" name="upload_image_input" type="file" accept="image/*" style="display:none" onChange="sendImage(this)")

	form(name="upload_file_form" id="upload_file_form" action="" method="POST" enctype="multipart/form-data" style="display:none")
			input(id="upload_file_input" name="upload_file_input" type="file" style="display:none" onChange="sendFile(this)")

	#myNicPanel