extends admin

block pagecontent

	h2 New post
		
	div.edit_post_zone.backgroundLevel_8
		input.title_field(id="postTitle" type="text" value="Title")
		
	#content_blocks

	div(id="trash" class="trash")
		| Trash

	div.edit_post_zone.backgroundLevel_1
	
		.navigation
			ul
				li
					a(href="#" onclick="addTextBlock(this);return false;") Text
				li
					a(href="#" onclick="addImageBlock(this);return false;") Image
				li
					a(href="#" onclick="addContactForm(this);return false;") Contact form
				li
					a(href="#" onclick="addFileBlock(this);return false;") File
				li
					a(href="#" onclick="addHtmlBlock(this);return false;") Html
				li
					a(href="#" onclick="addGalleryBlock(this);return false;") Gallery
		.clearboth


	div.edit_post_zone.backgroundLevel_1
		p Facebook post ID (to merge comments)

			input#fbpostID(
			type="text"
			name="imageurl"
			style="float:left;width:500px;margin:0;margin-top:10px;height:20px;"
			value="postID"
			onfocus="if(this.value == 'postID') { this.value = ''; }"
			onblur="if(this.value == '') { this.value = 'postID'; }"
			)

		.clearboth


	div.edit_post_zone.backgroundLevel_1
		
		.navigation
			ul
				li
					a(href="#" onclick="reorder(this);return false;") reorder/delete blocks
				li
					a(href="#" onclick="sendPost(this);return false;") Post
					
		.clearboth
		
	form(name="upload_image_form" id="upload_image_form" action="" method="POST" enctype="multipart/form-data" style="display:none")
		input(id="upload_image_input" name="upload_image_input" type="file" accept="image/*" style="display:none" onChange="sendImage(this)")

	form(name="upload_file_form" id="upload_file_form" action="" method="POST" enctype="multipart/form-data" style="display:none")
			input(id="upload_file_input" name="upload_file_input" type="file" style="display:none" onChange="sendFile(this)")

	#myNicPanel