extends admin

block pagecontent

	h2 Edit post

	input(id="pageID" type="text" style="display:none" value="#{page.ID}")
	
	
	div.edit_post_zone.backgroundLevel_10
		input.title_field(id="pageName" type="text" value="#{page.name}")
		
	div.edit_post_zone.backgroundLevel_8
		input.title_field(id="pageTitle" type="text" value="#{page.title}")
		
		

	#content_blocks
		- var block_number = 0	

		each block in page.blocks
			- var block_name = "block" + block_number
			if (block.type == "text")
				div(id="#{block_name}" style="margin-bottom: 10px;background-color: #F7F7F7;border-radius: 5px;outline: none;").block_text.sortable
					| !{block.text}

			else if (block.type == "image")
				div(id="#{block_name}").edit_post_zone.backgroundLevel_8.block_image.sortable
					img(src=block.path)
					div.edit_img_url_zone
						| url: 
						input#imageurl.edit_img_url_field(name="imageurl" type="text" value="#{block.url}")
						
			else if (block.type == "contact")
				div(id="#{block_contact}" style="background-color:#F7F7F7;").edit_post_zone.block_contact.sortable
					div 
						p(style="float:left;margin-right:10px;") To:
						input#emailTo(type="text" style="float:left;width:500px;margin:0;height:20px;" value="#{block.to}")
						div(style="clear:both;")
					div 
						p(style="float:left;margin-right:10px;") Title:
						input#emailTitle(type="text" style="float:left;width:500px;margin:0;height:20px;" value="#{block.title}")
						div(style="clear:both;")
						
			- block_number++


	div(id="trash" class="trash")
		| Trash

	div.edit_post_zone.backgroundLevel_1
		.navigation
			ul
				li
					a(href="#" onclick="addTextBlock(this)") Text
				li
					a(href="#" onclick="addImageBlock(this)") Image
				li
					a(href="#") Video
				li
					a(href="#" onclick="addContactForm(this)") Contact form
				li
					a(href="#") File
		.clearboth

	div.edit_post_zone.backgroundLevel_1
		
		.navigation
			ul
				li
					a(href="#" onclick="reorder(this)") reorder/delete blocks
				li
					a(href="#" onclick="editPage(this)") Edit page
					
		.clearboth



	form(name="upload_file_form" id="upload_file_form" action="" method="POST" enctype="multipart/form-data" style="display:none")
			input(id="upload_file_input" name="upload_file_input" type="file" style="display:none" onChange="sendImage(this)")

	#myNicPanel