extends blog
	
block content

	.post
	
		.block.title
			h2
				a(href="/" + page.name) #{page.title}
			.clearboth
			
		- each block,i in page.blocks
			if (block.type == "text")
				.block.text
					p !{block.text}

			if (block.type == "file")
				.block.text
					a(href=block.url) !{block.filename}

			if (block.type == "html")
					.block.html
						center
							| !{block.data}

			else if (block.type == "image")
				.block_img.image
					if (block.url != "")
							a(href=block.url)
								if (block.description && block.description != "")
									img(src=block.path alt="#{block.description}")
								else
									img(src=block.path)
						else
							if (block.description && block.description != "")
								img(src=block.path alt="#{block.description}")
							else
								img(src=block.path)
						
			else if (block.type == "contact")
					.block.contact
						.tinyForm(id="contactForm_" + page.ID + "_" + i)
							div(id="formsending_" + page.ID + "_" + i style="display: none")
								p Sending message...
							div(id="formsent_" + page.ID + "_" + i style="display: none")
								p Message sent! I'll answer as soon as I can!
							div(id="formerror_" + page.ID + "_" + i style="display: none")
								p Error when sending message!
								
							div(id="contactFields_"+page.ID+"_"+i)
								input.mandatory(id="contactEmail_"+page.ID+"_"+i type="text" value="Your email" 
								onfocus="if(this.value == 'Your email') { this.value = ''; } backToOriginalBackground(this);" 
								onblur="if(this.value == '') { this.value = 'Your email'; }")
								input.optional(id="contactSubject_"+page.ID+"_"+i type="text" value="Subject"
								onfocus="if(this.value == 'Subject') { this.value = ''; } backToOriginalBackground(this);"
								onblur="if(this.value == '') { this.value = 'Subject'; }")
								textarea.mandatory(id="contactContent_"+page.ID+"_"+i
								onfocus="backToOriginalBackground(this);")
								input(type="button" value="Send" onclick="sendMessage(#{page.ID},#{i},'Your email','Subject')")
			
				