extends blog
	
block content

	#div.post
	
		#div.block.title
			h2
				a(href="/" + page.name) #{page.title}
			.clearboth
			
		- each block in page.blocks
			if (block.type == "text")
				.block.text
					p !{block.text}

			else if (block.type == "image")
				.block_img.image
					if (block.url != "")
						a(href=block.url)
							img(src=block.path alt="bloglaurel comics")
					else
						img(src=block.path alt="bloglaurel comics")
				
			
				