extends blog
	
block content

	#div.post
	
		#div.block.title
			h2
				a(href="/" + post.slug +  "/" + post.ID) #{post.title}
					
			.date(style="float:right;") #{post.stringdate}
			.clearboth
			
		- each block,i in post.blocks
			if (block.type == "text")
				.block.text
					p !{block.text}

			else if (block.type == "image")
				.block_img.image
					if (block.url != "")
						a(href=block.url)
							img(src=block.path alt="bloglaurel comics")
					else
						img(src=block.path alt="bloglaurel comics")
						
			else if (block.type == "contact")
					#div.block.contact
						.tinyForm(id="contactForm_" + post.ID + "_" + i)
							div(id="formsending_" + post.ID + "_" + i style="display: none")
								p Sending message...
							div(id="formsent_" + post.ID + "_" + i style="display: none")
								p Message sent! I'll answer as soon as I can!
							div(id="formerror_" + post.ID + "_" + i style="display: none")
								p Error when sending message!
								
							div(id="contactFields_"+post.ID+"_"+i)
								input.mandatory(id="contactEmail_"+post.ID+"_"+i type="text" value="Your email" 
								onfocus="if(this.value == 'Your email') { this.value = ''; } backToOriginalBackground(this);" 
								onblur="if(this.value == '') { this.value = 'Your email'; }")
								input.optional(id="contactSubject_"+post.ID+"_"+i type="text" value="Subject"
								onfocus="if(this.value == 'Subject') { this.value = ''; } backToOriginalBackground(this);"
								onblur="if(this.value == '') { this.value = 'Subject'; }")
								textarea.mandatory(id="contactContent_"+post.ID+"_"+i
								onfocus="backToOriginalBackground(this);")
								input(type="button" value="Send" onclick="sendMessage(#{post.ID},#{i},'Your email','Subject')")

		a(name="coms")
		#comments
			- if (comments.length == 0)
				h2 #{keys.loc_no_comments}
			- else if (comments.length == 1)
				h2 #{comments.length} #{keys.loc_comment}
			- else
				h2 #{comments.length} #{keys.loc_comments}
			
			
			- each comment in comments
				- if (comment.name == "Laurel" && comment.email == "secret@bloglaurel.com")
					.comment(style="background-color:#cae1ea")
						h2 #{comment.name}
						.date
							p #{comment.date}
						.clearboth
						p !{comment.content.replace(/\n/g, '<br/>')}
						
				- else
					.comment						
						h2 #{comment.name}
						.date
							p #{comment.date}
						.clearboth
						p !{comment.content.replace(/\n/g, '<br/>')}
						
			
			#form
				#formsending(style="display: none")
					p Sending comment...
				#formsent(style="display: none")
					p Comment sent! Please wait for validation.
				#formerror(style="display: none")
					p Error when sending comment!
					
				#fields
					input#postID(type="hidden" value=post.ID)
					
					- if (commentName)
						input#commentName.mandatory(type="text" value="#{commentName}" onfocus="if(this.value == 'name') { this.value = ''; } backToOriginalBackground(this);" 
						onblur="if(this.value == '') { this.value = 'name'; }")
					- else
						input#commentName.mandatory(type="text" value="name" onfocus="if(this.value == 'name') { this.value = ''; } backToOriginalBackground(this);"
						onblur="if(this.value == '') { this.value = 'name'; }")						
												
					- if (commentEmail)
						input#commentEmail.optional(type="text" value="#{commentEmail}" onfocus="if(this.value == 'email') { this.value = ''; } backToOriginalBackground(this);"
						onblur="if(this.value == '') { this.value = 'email'; }")
					- else
						input#commentEmail.optional(type="text" value="email" onfocus="if(this.value == 'email') { this.value = ''; } backToOriginalBackground(this);"
						onblur="if(this.value == '') { this.value = 'email'; }")
					
						
						
					textarea#commentContent(onfocus="backToOriginalBackground(this);")
					input(type="button" value="Send" onclick="postComment('name','email')")
				
			
				