extends blog
	
block content

	- each post,iPost in posts
		.post
			.block.title
				h2
					a(href="/" + post.slug +  "/" + post.ID) #{post.title}
						
				.date(style="float:right;") #{post.stringdate}
				.clearboth
				
			- each block,i in post.blocks
				if (block.type == "text")
					.block.text
						p !{block.text}

				if (block.type == "file")
					.block.file
						a(href=block.url) !{block.filename}

				if (block.type == "html")
					.block.html
						center
							| !{block.data}

				else if (block.type == "image")
					.block_img.image
						if (block.url != "")
							a(href=block.url)
								if (block.description && block.description != "")
									img(src=block.path alt="#{block.description}")
								else
									img(src=block.path)
						else
							if (block.description && block.description != "")
								img(src=block.path alt="#{block.description}")
							else
								img(src=block.path)

				else if (block.type == "contact")
					.block.contact
						.tinyForm(id="contactForm_" + post.ID + "_" + i)
							div(id="formsending_" + post.ID + "_" + i style="display: none")
								p Sending message...
							div(id="formsent_" + post.ID + "_" + i style="display: none")
								p Message sent! I'll answer as soon as I can!
							div(id="formerror_" + post.ID + "_" + i style="display: none")
								p Error when sending message!
								
							div(id="contactFields_"+post.ID+"_"+i)
								input.mandatory(id="contactEmail_"+post.ID+"_"+i type="text" value="Your email" 
								onfocus="if(this.value == 'Your email') { this.value = ''; } backToOriginalBackground(this);" 
								onblur="if(this.value == '') { this.value = 'Your email'; }")
								input.optional(id="contactSubject_"+post.ID+"_"+i type="text" value="Subject"
								onfocus="if(this.value == 'Subject') { this.value = ''; } backToOriginalBackground(this);"
								onblur="if(this.value == '') { this.value = 'Subject'; }")
								textarea.mandatory(id="contactContent_"+post.ID+"_"+i
								onfocus="backToOriginalBackground(this);")
								input(type="button" value="Send" onclick="sendMessage(#{post.ID},#{i},'Your email','Subject')")
					
			.footer
				- if (lang == "fr")
					a(href="/" + post.slug +  "/" + post.ID + "#coms") 
						- if (post.nbComs == 0)
							| #{keys.loc_no_comments}
						- else if (post.nbComs == 1)
							| #{post.nbComs} #{keys.loc_comment}
						- else
							| #{post.nbComs} #{keys.loc_comments}
		- if (iPost < 3)
			#banner
				a(href="http://www.ulule.com/comme-convenu")
					img(src="/img/comme-convenu.gif")
		
	#pages
		- var i = pages
		- for (var i = 1; i < pages + 1; ++i)
			- if (i == page)
				a(href="/page" + i).current #{i}
			- else
				a(href="/page" + i) #{i}
		.clearboth
	