extends admin


block pagecontent

	h2 Configuration (#{lang})

	.list
		ul
			li
				div
					input#login(type="text" value="login" style="width:500px;margin:0;height:20px;" onfocus="if(this.value == 'login') { this.value = ''; }")
				div
					input#loginVerif(type="text" value="login verification" style="width:500px;margin:0;height:20px;" onfocus="if(this.value == 'login verification') { this.value = ''; }")
				div
					input#pass(type="password" value="password" style="width:500px;margin:0;height:20px;" onfocus="if(this.value == 'password') { this.value = ''; }")
				div
					input#passVerif(type="password" value="password" style="width:500px;margin:0;height:20px;" onfocus="if(this.value == 'password') { this.value = ''; }")
				div
					a(href="#" onclick="updateCredentials();return false;") Update
			
	.list
		ul
			li
				div
					| Send emails with Gmail (Oauth 2.0)
				div
					if (email && email.user)
						input#emailUser(type="text" value=email.user style="width:500px;margin:0;height:20px;"
						onfocus="if(this.value == 'user@gmail.com') { this.value = ''; }"
						onblur="if(this.value == '') { this.value = 'user@gmail.com'; }")
					else
						input#emailUser(type="text" value="user@gmail.com" style="width:500px;margin:0;height:20px;"
						onfocus="if(this.value == 'user@gmail.com') { this.value = ''; }"
						onblur="if(this.value == '') { this.value = 'user@gmail.com'; }")


				div
					if (email && email.clientID)
						input#emailClientID(type="text" value=email.clientID style="width:500px;margin:0;height:20px;"
						onfocus="if(this.value == 'clientID') { this.value = ''; }"
						onblur="if(this.value == '') { this.value = 'clientID'; }")
					else
						input#emailClientID(type="text" value="clientID" style="width:500px;margin:0;height:20px;"
						onfocus="if(this.value == 'clientID') { this.value = ''; }"
						onblur="if(this.value == '') { this.value = 'clientID'; }")




				div
					if (email && email.clientSecret)
						input#emailClientSecret(type="text" value=email.clientSecret style="width:500px;margin:0;height:20px;"
						onfocus="if(this.value == 'clientSecret') { this.value = ''; }"
						onblur="if(this.value == '') { this.value = 'clientSecret'; }")
					else
						input#emailClientSecret(type="text" value="clientSecret" style="width:500px;margin:0;height:20px;"
						onfocus="if(this.value == 'clientSecret') { this.value = ''; }"
						onblur="if(this.value == '') { this.value = 'clientSecret'; }")



				div
					if (email && email.refreshToken)
						input#emailRefreshToken(type="text" value=email.refreshToken style="width:500px;margin:0;height:20px;"
						onfocus="if(this.value == 'Refresh Token') { this.value = ''; }"
						onblur="if(this.value == '') { this.value = 'Refresh Token'; }")
					else
						input#emailRefreshToken(type="text" value="Refresh Token" style="width:500px;margin:0;height:20px;"
						onfocus="if(this.value == 'Refresh Token') { this.value = ''; }"
						onblur="if(this.value == '') { this.value = 'Refresh Token'; }")
				div
					a(href="#" onclick="updateEmailCredentials();return false;") Update


	.list
		ul
			li
				div
					| Merge Facebook comments with blog post comments
				div
					if (facebook && facebook.clientID)
						input#fbClientID(type="text" value=facebook.clientID style="width:500px;margin:0;height:20px;" 
						onfocus="if(this.value == 'clientID') { this.value = ''; }"
						onblur="if(this.value == '') { this.value = 'clientID'; }")
					else
						input#fbClientID(type="text" value="clientID" style="width:500px;margin:0;height:20px;" 
						onfocus="if(this.value == 'clientID') { this.value = ''; }"
						onblur="if(this.value == '') { this.value = 'clientID'; }")


				div
					if (facebook && facebook.clientSecret)
						input#fbClientSecret(type="text" value=facebook.clientSecret style="width:500px;margin:0;height:20px;"
						onfocus="if(this.value == 'clientSecret') { this.value = ''; }"
						onblur="if(this.value == '') { this.value = 'clientSecret'; }")
					else
						input#fbClientSecret(type="text" value="clientSecret" style="width:500px;margin:0;height:20px;"
						onfocus="if(this.value == 'clientSecret') { this.value = ''; }"
						onblur="if(this.value == '') { this.value = 'clientSecret'; }")



				div
					a(href="#" onclick="updateFBConfig();return false;") Update



	.list
		ul
			- each pref,prefKey in config_values
				li
					div
						strong #{prefKey}
					div
						textarea(type="text" style="margin:0;width:500px;height:50px;") #{pref}
					div
						a(href="#" onclick="configUpdateKey(this);return false;" style="color:#8ab946") Update

	div(style="height:20px;")
