doctype xml
rss(version='2.0' xmlns:atom="http://www.w3.org/2005/Atom")
	channel
		title BlogLaurel (#{lang})
		link http://bloglaurel.com
		atom:link(href="http://bloglaurel.com/rss" rel="self" type="application/rss+xml")
		description Laurel's RSS feed
		language en
		if posts.length
			lastBuildDate= new Date(parseInt(posts[0].date)).toUTCString()
		each post in posts
			item
				title #{post.title}
				link http://bloglaurel.com/#{post.slug}/#{post.ID}  
				description
					| <![CDATA[
					each block in post.blocks
						if (block.type == "text")
							p !{block.text}
						else if (block.type == "image")
							img(src="http://bloglaurel.com/"+block.path alt="bloglaurel comics")
					| ]]>
				pubDate= new Date(parseInt(post.date)).toUTCString()
				guid http://bloglaurel.com/#{post.slug}/#{post.ID}