extends blog
	
block content

	- each post in posts
		#div.post
			- each block in post.blocks
				if (block.type == "title")
					#div.block.title
						h2
							a(href="/" + post.slug +  "/" + post.ID) #{block.text} 
							
						.date(style="float:right;") #{post.stringdate}
						.clearboth
		
				else if (block.type == "text")
					#div.block.text
						p !{block.text}

				else if (block.type == "image")
					#div.block_img.image
						if (block.url != "")
							a(href=block.url)
								img(src=block.path alt="bloglaurel comics")
						else
							img(src=block.path alt="bloglaurel comics")
			.footer
				a(href="/post" + post.ID + "#coms") Comments
		
	#pages
		p
			| Pages:
			- var i = pages
			- for (var i = 1; i < pages + 1; ++i)
				a(href="/page" + i) #{i}
	