extends blog
	
block content

	#div.post
		- each block in post.blocks
			if (block.type == "title")
				#div.block.title
					h2
						a(href="/post" + post.ID) #{block.text} 
						
					.date(style="float:right;") #{post.stringdate}
					.clearboth
	
			else if (block.type == "text")
				#div.block.text
					p !{block.text}

			else if (block.type == "image")
				#div.block_img.image
					if (block.url != "")
						a(href=block.url)
							img(src=block.path alt="bloglaurel comics")
					else
						img(src=block.path alt="bloglaurel comics")
		.comments
			h2 X Comments
			.form
				input#verificationID(type="hidden" value="123456")
				input#commentName.mandatory(type="text" value="name" onfocus="if(this.value == 'name') { this.value = ''; } backToOriginalBackground(this);" 
				onblur="if(this.value == '') { this.value = 'name'; }")
				input#commentEmail.optional(type="text" value="email" onfocus="if(this.value == 'email') { this.value = ''; } backToOriginalBackground(this);"
				onblur="if(this.value == '') { this.value = 'email'; }")
				textarea#commentContent(onfocus="backToOriginalBackground(this);")
				input(type="button" value="Send" onclick="postComment('name','email')")
	