extends blog
	
block content

	- each post in posts
		#div.post

			#div.block.title
				h2
					a(href="/" + post.slug +  "/" + post.ID) #{post.title}
						
				.date(style="float:right;") #{post.stringdate}
				.clearboth
				
			
			- each block in post.blocks
				if (block.type == "text")
					#div.block.text
						p !{block.text}

				else if (block.type == "image")
					#div.block_img.image
						if (block.url != "")
							a(href=block.url)
								img(src=block.path alt="bloglaurel comics")
						else
							img(src=block.path alt="bloglaurel comics")
			.footer
				a(href="/" + post.slug +  "/" + post.ID + "#coms") #{post.nbComs} Comments
		
	#pages
		p
			| Pages:
			- var i = pages
			- for (var i = 1; i < pages + 1; ++i)
				a(href="/page" + i) #{i}
	