extends blog
	
block content

	#div.post
		- each block in post.blocks
			if (block.type == "title")
				.block.title
					h2
						a(href="/post" + post.ID) #{block.text} 
						
					.date(style="float:right;") #{post.stringdate}
					.clearboth
	
			else if (block.type == "text")
				.block.text
					p !{block.text}

			else if (block.type == "image")
				.block_img.image
					if (block.url != "")
						a(href=block.url)
							img(src=block.path alt="bloglaurel comics")
					else
						img(src=block.path alt="bloglaurel comics")
		#comments
			h2 #{comments.length} Comments
			
			- each comment in comments
				.comment
					h2 #{comment.name}
					.date
						p #{comment.date}
					.clearboth
					p #{comment.content}
			
			#form
				#formsending(style="display: none")
					p Sending comment...
				#formsent(style="display: none")
					p Comment sent! Please wait for validation.
				#formerror(style="display: none")
					p Error when sending comment!
					
				#fields
					input#postID(type="hidden" value=post.ID)
					input#verificationID(type="hidden" value=vID)
					input#commentName.mandatory(type="text" value="name" onfocus="if(this.value == 'name') { this.value = ''; } backToOriginalBackground(this);" 
					onblur="if(this.value == '') { this.value = 'name'; }")
					input#commentEmail.optional(type="text" value="email" onfocus="if(this.value == 'email') { this.value = ''; } backToOriginalBackground(this);"
					onblur="if(this.value == '') { this.value = 'email'; }")
					textarea#commentContent(onfocus="backToOriginalBackground(this);")
					input(type="button" value="Send" onclick="postComment('name','email')")
				
			
				